extends layout

block links
	link(rel="stylesheet",href="/stylesheets/#{app}.css")
	link(rel="stylesheet",href="/bower_components/angular-material/angular-material.min.css")
block content
	#web
		.content
			.div
				md-select(ng-model="someModel")
					md-select-label|elija
					md-option(ng-value="opt1")|hola
					md-option(ng-value="opt2")|hola1
					md-option(ng-value="opt3")|hola2
					md-option(ng-value="opt4")|hola3
				md-progress-circular(md-mode="indeterminate")
				md-slider.md-primary(flex="10",md-discrete,ng-model="rating3",step="1",min="1",max="5",aria-label="rating")
				md-button.md-primary()|BUTTON
				md-input-container
					label|nombre
					input(ng-model="name")
			div(ng-controller="ctrlData as ctrl")
				md-autocomplete(
					ng-disabled="ctrl.isDisabled",
     md-no-cache="ctrl.noCache",
					md-selected-item="ctrl.selectedItem",
					md-search-text="ctrl.searchText",
					md-items="item in ctrl.states_",
					md-item-text="item.display",
					placeholder="What is your favorite US state?")
					span(md-highlight-text="ctrl.searchText")|{{item.value | uppercase}}
				md-checkbox(ng-model="ctrl.simulateQuery")|Simulate query for 
				md-checkbox(ng-model="ctrl.noCache")|Disable caching of
				md-checkbox(ng-model="ctrl.isDisabled")|Disable the input?
block import
	script(src="/bower_components/angular-aria/angular-aria.min.js")
	script(src="/bower_components/angular-animate/angular-animate.min.js")
	script(src="/bower_components/angular-material/angular-material.js")
